<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticaObjetosLogicosMovilIIPA2023"
        tools:targetApi="31">

        <!-- Agrega la actividad FVehicularJY -->
        <activity
            android:name=".FVehicularJY"
            android:exported="true"> <!-- Cambiado a "true" para permitir acceso desde fuera de la aplicación -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Elimina o cambia la propiedad "exported" de MainActivity según tus necesidades -->
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
    </application>

</manifest>
